## Ejercicio 1

In [13]:
def annograms(word):
    words = [w.rstrip() for w in open('WORD.LST')]
    annograms = [w for w in words if sorted(word)==sorted(w)]
    
    return annograms
    
annograms('python')

['phyton', 'python', 'typhon']

## Ejercicio 2

In [48]:
def asleep(N):
    if N == 0:
        return 'INSOMNIA'
    
    unique_digits = {int(d) for d in str(N)}
    zero_to_nine = set()
    zero_to_nine.update(unique_digits)
    i=2
    
    while(len(zero_to_nine) != 10):
        new_N = N*i
        unique_digits = {int(d) for d in str(N*i)}
        zero_to_nine.update(unique_digits)
        i+=1
        
    return new_N

asleep(1692)

5076

## Ejercicio 3

In [101]:
import pandas as pd

df = pd.read_csv('dataset.csv', parse_dates=['summary_date'])
df

,summary_date,app_id,app_type,app_name,campaign_id,campaign_name,ad_id,ad_name,impressions,clicks,installs,spend,event_name,events_d0,events_d7,unique_events_d0,unique_events_d7
0,2022-06-14,com.super.app,android,Super App 2000,campaign_16,Super campaign 16,ad_16L8hGR,Super AD 16L8hGR,82.0,46.0,NaN,0.00455,super_event,NaN,NaN,NaN,NaN
1,2022-07-10,com.super.app,android,Super App 2000,campaign_16,Super campaign 16,ad_16z49oF,Super AD 16z49oF,1942.0,1226.0,2.0,0.88920,super_event,0.0,0.0,0.0,0.0
2,2022-07-05,com.super.app,android,Super App 2000,campaign_16,Super campaign 16,ad_16DpJ5e,Super AD 16DpJ5e,116.0,2.0,NaN,0.00715,super_event,NaN,NaN,NaN,NaN
3,2022-06-01,com.super.app,android,Super App 2000,campaign_16,Super campaign 16,ad_16sutOl,Super AD 16sutOl,15550.0,18.0,4.0,0.52455,super_event,0.0,0.0,0.0,0.0
4,2022-07-25,com.super.app,android,Super App 2000,campaign_16,Super campaign 16,ad_16ZEk4H,Super AD 16ZEk4H,0.0,0.0,2.0,0.00000,super_event,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1565,2022-06-25,com.super.app,android,Super App 2000,campaign_16,Super campaign 16,ad_16tke86,Super AD 16tke86,62954.0,162.0,NaN,11.77605,super_event,NaN,NaN,NaN,NaN
1566,2022-06-11,com.super.app,android,Super App 2000,campaign_16,Super campaign 16,ad_16Qnvp6,Super AD 16Qnvp6,28.0,6.0,NaN,0.00455,super_event,NaN,NaN,NaN,NaN
1567,2022-07-09,com.super.app,android,Super App 2000,campaign_16,Super campaign 16,ad_1658MjI,Super AD 1658MjI,868.0,470.0,NaN,0.41340,super_event,NaN,NaN,NaN,NaN
1568,2022-07-08,com.super.app,android,Super App 2000,campaign_16,Super campaign 16,ad_16VAIpg,Super AD 16VAIpg,7376.0,4366.0,4.0,3.01665,super_event,0.0,0.0,0.0,0.0
1569,2022-07-02,com.super.app,android,Super App 2000,campaign_16,Super campaign 16,ad_16L8hGR,Super AD 16L8hGR,0.0,0.0,2.0,0.00000,super_event,0.0,0.0,0.0,0.0

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1570 entries, 0 to 1569
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   summary_date      1570 non-null   datetime64[ns]
 1   app_id            1570 non-null   object
 2   app_type          1570 non-null   object
 3   app_name          1570 non-null   object
 4   campaign_id       1570 non-null   object
 5   campaign_name     1570 non-null   object
 6   ad_id             1453 non-null   object
 7   ad_name           1453 non-null   object
 8   impressions       1489 non-null   float64
 9   clicks            1489 non-null   float64
 10  installs          826 non-null    float64
 11  spend             1489 non-null   float64
 12  event_name        1570 non-null   object
 13  events_d0         826 non-null    float64
 14  events_d7         826 non-null    float64
 15  unique_events_d0  826 non-null    float64
 16  unique_events_d7  826 non-null    float64
dtypes: datetime64[ns](1), float64(8), object(8)
memory usage: 208.6+ KB

In [78]:
df_report = df.groupby('campaign_id').agg({'impressions':'sum','clicks':'sum', 'installs':'sum', 'spend':'sum'})
df_report['CTR'] = df_report['clicks'] / df_report['impressions']
df_report['CPI'] = df_report['spend'] / df_report['installs']
df_report

             impressions     clicks  installs       spend       CTR       CPI
campaign_id
campaign_10          0.0  5429764.0  213682.0  57194.6700       inf  0.267663
campaign_13          0.0        0.0       2.0      0.0000       NaN  0.000000
campaign_16  245177026.0  2132984.0   28776.0  18314.5937  0.008700  0.636454
campaign_4           0.0        0.0      26.0      0.0000       NaN  0.000000
campaign_5           0.0        0.0    1072.0      0.0000       NaN  0.000000
campaign_6    95681244.0   847818.0    3776.0   1422.1974  0.008861  0.376641
campaign_9           0.0        0.0  541224.0      0.0000       NaN  0.000000

## Ejercicio 4

- Data Extraction: Para la extraccion de datos, el primer paso seria habilitar la API de Google Analytics en nuestro proyecto de Google Cloud Platform. Luego debo crear una Service Account, la cual se agregará como usuario a nuestro reporte de Google Analytics. Luego, gracias a la integracion que existe entre BigQuery y Google Analytics podemos simplemente vincular los servicios y crear un stream de datos que puede ser diario o en tiempo real. Tambien existe una segunda alternativa, donde en vez de vincular los servicios simplemente usamos Python y las librerias correspondientes para hacer peticiones a la api usando la key de la service account creada anteriormente. 

- Data modeling: No usaria esquema estrella ni snowflake, usaria el esquema recomendado por GCP que es nested and repeated fields. Agregaria un particionado en la columna week_start_date para optimizar tiempos y minimizar costos.

- Generating the Week-over-Week Report: Usaria consultas con la funcion LAG.